
@page "/games"

@inject NavigationManager Navigate

<div id="games-page" class="umod-main-body">

    <h2>Games</h2>
    <hr />

    <div class="games-page-area">
        <div class="text-center games-page-cell">
            <div>
                <Image class="img-fluid games-page-img" Source="@ServerHelpers.ImageSrcString("general/menu-oblivion.jpg")"></Image>
            </div>
            <Button Type="ButtonType.Button" Clicked="@(() => Navigate.NavigateTo(Constants.Pages.Oblivion))" Class="umod-btn">
                <BasicIcon Class="menu-icon games-page-cell-icon" Colour="IconColour.White" FileName="oblivion-logo-1.svg" />
                Oblivion
            </Button>
        </div>
        <div class="text-center games-page-cell">
            <div>
                <Image class="img-fluid games-page-img" Source="@ServerHelpers.ImageSrcString("general/menu-fallout.jpg")"></Image>
            </div>
            <Button Type="ButtonType.Button" Clicked="@(() => Navigate.NavigateTo(Constants.Pages.Fallout3))" Class="umod-btn">
                <BasicIcon Class="menu-icon games-page-cell-icon" Colour="IconColour.White" FileName="fallout-logo.svg" />
                Fallout 3
            </Button>
        </div>
        <div class="text-center games-page-cell">
            <div>
                <Image class="img-fluid games-page-img" Source="@ServerHelpers.ImageSrcString("general/menu-new-vegas.jpg")"></Image>
            </div>
            <Button Type="ButtonType.Button" Clicked="@(() => Navigate.NavigateTo(Constants.Pages.NewVegas))" Class="umod-btn">
                <BasicIcon Class="menu-icon games-page-cell-icon" Colour="IconColour.White" FileName="new-vegas-logo.svg" />
                New Vegas
            </Button>
        </div>
          <div class="text-center games-page-cell">
            <div>
                <Image class="img-fluid games-page-img" Source="@ServerHelpers.ImageSrcString("general/menu-skyrim.jpg")"></Image>
            </div>
            <Button Type="ButtonType.Button" Clicked="@(() => Navigate.NavigateTo(Constants.Pages.Skyrim))" Class="umod-btn">
                <BasicIcon Class="menu-icon games-page-cell-icon" Colour="IconColour.White" FileName="skyrim-logo.svg" />
                Skyrim
            </Button>
        </div>
    </div>
</div>


