
@page "/help/obmm"

<div class="umod-main-body">
    <h2>Help - Oblivion Mod Manager</h2>
    <hr />
    <h5 style="text-decoration:underline">Getting Started</h5>
    <p>
        First install OBMM and launch it
    </p>
    <p>
        Click here if you need to download Oblivion Mod Manager:
        <Blazorise.Button Type="ButtonType.Link" To="https://www.nexusmods.com/oblivion/mods/2097?tab=files&file_id=34275" Target="Target.Blank"
                          Class="btn umod-btn"
                          Style="width: 230px; padding: 4px 10px;">
            Download OBMM
        </Blazorise.Button>
    </p>

    <div class="mod-organizer-step">
        <p>
            With OBMM open, first right-click the list on the left, and select 'Activate all'
        </p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/oblivion/obmm-guide1.jpg")" />
    </div>

    <div class="mod-organizer-step">
        <p>
            Now look for <span style="color:var(--yellow)">Kvatch Rebuilt Weather Patch.esp</span> and ensure it is NOT ticked.
        </p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/oblivion/obmm-guide1-2.jpg")" />
    </div>

    <div class="mod-organizer-step">
        <p>
            From the buttons on the right, click 'Import/Export' then select 'Import load order' from the list that appears
        </p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/oblivion/obmm-guide2.jpg")" />
    </div>


    <div class="mod-organizer-step">
        <p>
            The load order file is added to your Oblivion game folder by U-Mod
        </p>
        <p>
            Look for <span style="color:var(--yellow)">obmm-umod.olod</span> in the Oblivion game folder and select 'Open'
</p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/oblivion/obmm-guide3.jpg")" />
    </div>

    <div class="mod-organizer-step">
        <p>
            From the buttons on the right, click 'Utilities' then select 'Archive invalidation' from the list that appears
        </p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/oblivion/obmm-guide4.jpg")" />
    </div>


    <div class="mod-organizer-step">
        <p>
            In the window that appears, ensure you have BSA redirection selected, then click 'Update Now'
        </p>
        <p>
            After that is done, you can close the archive invalidation window
        </p>
        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/oblivion/obmm-guide5.jpg")" />
    </div>

    <div class="mod-organizer-step">
        <p>
            To launch the game, either:
        </p>
        <ol>
            <li>Close OBMM and launch from Steam as normal, or;</li>
            <li>Use the 'Launch Oblivion' button in OBMM</li>
        </ol>
    </div>

</div>

@code {

}
